body{
  background-color: rgb(249, 194, 227);
}

.box-1{
  width: 350px;
  /* border: 2px solid black; */
  margin-top: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  
}
.box-1 label{
  font-size: 16px;
  font-weight: 400;
}
.box-1 input{
  width: 100%;
  margin-top: 10px;
}
.box-1 button{
/* display: flex; */
width: 100%;
text-align: center;
margin: 20px auto 0 auto;
}
.heading{
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}